[submodule "boilerplate-sdk"]
	path = boilerplate-sdk
	url = https://github.com/sonderformat-llc/fusionauth-e2e-test-boilerplate-sdk.git
[submodule "boilerplate-quickstart"]
	path = boilerplate-quickstart
	url = https://github.com/sonderformat-llc/fusionauth-e2e-test-boilerplate-quickstart.git
